nav {
  display: flex;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
}

body {
  font-family: "Lato", sans-serif;
}

.abel,
.navbar_links,
.apps_link,
.section,
.footer_links,
.low_footer {
  font-family: "Abel", sans-serif;
}

.main_article_link,
.main_article_side_link,
.latest_news_title,
.section_link_text {
  font-family: "Open Sans", sans-serif;
}

.Merriweather {
  font-family: "Merriweather Sans", sans-serif;
}

a {
  text-decoration: none;
}

.white,
.footer_social_link {
  color: #fff;
}

.top_navbar {
  background: #000;
  justify-content: space-between;
  padding: 8px 20px;
}

.top_navbar_links {
  color: #c6c6c6;
  font-size: 13px;
  padding: 0 5px;
}

.business-icon {
  font-size: 8px;
}

.navbar {
  display: block;
  background: #fdfdfd;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
}

.navbar_list {
  padding: 15px 20px;
}

.navbar_links {
  color: #c6c6c6;
  font-size: 14px;
  text-decoration: none;
  padding: 0 5px;
}

.search_button {
  border: none;
  border-left: rgb(198, 198, 198) solid 1px;
  background: rgba(198, 198, 198, 0.1);
  color: rgb(198, 198, 198);
  width: 48px;
}

.navbar_stripe {
  background: #ffdd33;
  font-size: 15px;
  padding: 10px 20px;
}

.header {
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  grid-template-areas: "main sidet" "main sideb";
  grid-gap: 10px;
  width: calc(100% - 10px);
  margin: 5px auto 100px auto;
}

.main_article_gradient {
  background: radial-gradient(
    circle at top left,
    rgba(255, 0, 0, 0.6) -5%,
    rgba(0, 0, 0, 0.8)
  );
  display: flex;
  justify-content: stretch;
  height: 100%;
  width: 100%;
}

.main_article_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_article_big {
  background: #fff
    url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F04%2FMSI-Creator-17.jpg&signature=e198fc68168bca765e815d35f9af0a15)
    center center no-repeat;
  background-size: cover;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 47vh;
}

.date {
  color: #fff;
  padding: 5px 20px 0 0;
}

.main_article_big a,
.main_article_side a {
  color: #fff;
}

.box_1 {
  display: flex;
  justify-content: space-between;
}

.main_article_logo {
  align-self: flex-start;
}

.main_article_logo_image {
  width: 33vw;
  margin: 20px 20px;
}

.date {
  margin-top: 10px;
}

.apps_link {
  font-size: 14px;
}

.main_article_link {
  align-self: flex-end;
  font-size: 3.3rem;
  font-weight: bolder;
  margin: 5px 0;
}

.main_article_footer,
.main_article_footer a,
.main_article_footer i {
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0 1px;
  font-size: 0.9rem;
}

.box_2,
.main_article_side_wrapper {
  padding: 10px 20px;
}

.main_article_side {
  display: flex;
  justify-content: stretch;
  font-size: 1.6rem;
  color: #fff;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/zoombombing-796x419.png)
    center no-repeat;
  background-size: cover;
}

.main_article_side_background {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main_article_side_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main_article_side_link {
  margin: 5px 0;
}

.latest_news_wrapper,
.latest_funding,
.sections {
  width: 95%;
  margin: 0 auto;
}
.latest_news_title_container {
  grid-column: 1/-1;
  align-self: flex-end;
}
.latest_news_title,
.latest_funding_title {
  color: red;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.latest_news_grid,
.latest_funding_grid {
  display: grid;
  grid-template: repeat(auto-fill, minmax(112px, auto)) / repeat(
      auto-fill,
      minmax(224px, auto)
    );
  max-width: 1152px;
  max-height: 646px;
  margin: 5px auto;
  grid-gap: 24px;
}

.latest_new_item,
.latest_funding_item {
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  line-height: 20px;
}

.latest_news_image img {
  max-width: 100%;
}

.latest_news_info {
  width: 90%;
  margin: 0 auto;
  line-height: 20px;
}
.latest_news_link_container {
  margin-bottom: 5px;
}
.latest_new_item a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.latest_news_author,
.latest_news_author a {
  font-size: 13px;
  color: #aaa;
  font-weight: 400;
}

.latest_funding {
  max-height: 500px;
  overflow: hidden;
}

.latest_funding_header {
  color: red;
  font-size: 28px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.latest_funding_header {
  grid-column: 1/-2;
}

.right_links,
.right_links a {
  color: red;
  font-size: 16px;
  white-space: nowrap;
  align-self: flex-end;
  justify-self: flex-end;
}

.latest_funding_header {
  align-self: flex-end;
}

.item_title {
  font-size: 16px;
  padding: 11px 16px 11px 84px;
  background: #ff4422;
}

.latest-funding-fund {
  font-size: 14px;
  padding: 11px 16px 11px 84px;
  background: rgba(255, 68, 34, 0.08);
}

.latest_funding_image {
  position: absolute;
  margin: -30px 0 0 10px;
}

.latest_funding_image img {
  width: 60px;
  height: 60px;
}

.item_title {
  color: #fff;
}

.font-18 {
  font-size: 18px;
}

.black {
  color: #000;
}

.funding_background {
  background: #fffaf8;
}
.latest-funding-fund-amt {
  font-weight: bold;
}
.latest-funding-fund-seed {
  font-size: 12px;
}
.latest-funding-info {
  padding: 16px;
  border-bottom: #ffccc3 solid 1px;
}
.latest-funding-info-links {
  margin: 0 13px 6.5px 0;
  color: #555;
}
.paragraph_wrapper {
  padding: 16px;
}
.latest-funding-paragraph {
  color: #555;
  font-size: 12px;
}

.funding_place_link {
  font-size: 12px;
  color: #aaa;
}

.sections_grid {
  display: grid;
  grid-template: repeat(auto-fill, minmax(112px, auto)) / repeat(
      auto-fill,
      minmax(332px, auto)
    );
  max-width: 1152px;
  margin: 5px auto;
  grid-gap: 24px;
}

.section_item {
  min-width: 332px;
  width: calc(33.33%-48px);
  max-width: 392px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.section_title {
  margin-bottom: 30px;
}

.section_image_info {
  position: relative;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/Artboard-2@2x-100-368x276.jpg)
    center no-repeat;
  background-size: cover;
  height: 18.35vw;
  max-height: 274px;
}

.image_gradient {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 0 15px 15px 15px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 1) 90%);
}

.section_link {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 10px 0;
}

.section_author {
  font-size: 12px;
}
.section_latest {
  background-color: #fff4f2;
  padding: 10px 14px 0 10px;
  display: flex;
  flex-direction: column;
  max-height: 90px;
  flex-wrap: wrap;
}
.section_latest_title {
  color: #ff4422;
  font-size: 13px;
}

.section_latest_link {
  margin-top: 5px;
  max-width: 70%;
}
.section_latest_link a {
  color: #ff4422;
  font-size: 14px;
}

.section_latest_image {
  width: 70px;
  height: 70px;
}

.section_list {
  font-size: 13px;
}

.section_list li {
  margin: 15px 0 0 0;
  font-weight: 400;
  border-bottom: #c6c6c6 1px solid;
  padding-bottom: 15px;
  display: flex;
}

.circle {
  color: #ff4422;
  font-size: 10px;
  margin-right: 10px;
}

.section_list_link {
  margin-left: 10px;
}

.section_list a {
  color: #555;
}

.small_price {
  text-decoration: line-through;
  font-size: 13px;
}

.big_price {
  color: #555;
  font-size: 16px;
}

.top_footer {
  display: flex;
  flex-direction: column;
  padding: 42px 0px 28px;
  background: #555;
  color: #aaa;
}

.top_footer a {
  color: #aaa;
}

.social,
.footer_links {
  width: 90%;
  display: flex;
  justify-content: center;
}

.footer_social_wrapper {
  border-radius: 50%;
  background: #333;
  padding: 12px;
}

.low_footer {
  color: #aaa;
  font-size: 13px;
  padding: 39px 0;
  background: #000;
  display: flex;
  justify-content: center;
}

.heart {
  color: #ff4422;
}
