nav {
  display: flex;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
}

.lato {
  font-family: "Lato", sans-serif;
}

.abel, .navbar_links, .apps_link{
  font-family: "Abel", sans-serif;
}
a{
  text-decoration: none;
}
.top_navbar {
  background: #000;
  justify-content: space-between;
  padding: 8px 20px;
}
.top_navbar_links {
  color: #c6c6c6;
  font-size: 13px;
  padding: 0 5px;
}
.business-icon {
  font-size: 8px;
}
.navbar {
  display: block;
  background: #fdfdfd;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
}

.navbar_list {
  padding: 15px 20px;
}

.navbar_links {
  color: #c6c6c6;
  font-size: 14px;
  text-decoration: none;
  padding: 0 5px;
}

.search_button {
  border: none;
  border-left: rgb(198, 198, 198) solid 1px;
  background: rgba(198, 198, 198, 0.1);
  color: rgb(198, 198, 198);
  width: 48px;
}

.navbar_stripe {
  background: #ffdd33;
  font-size: 15px;
  padding: 10px 20px;
}

.header {
  display: grid;
  grid-template-areas: 1fr 1fr / 2fr 1fr;
  grid-template: "main sidet" "main sideb";
  grid-gap: 20px;
}

.main_article_big {
  background: #fff
    url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F04%2FMSI-Creator-17.jpg&signature=e198fc68168bca765e815d35f9af0a15)
    center center no-repeat;
  background-size: contain;
  grid-area: main;
  display: flex;
  flex-direction: column;
  height: 50vh;
}
.box_1{
  display: flex;
  justify-content: space-between;
}
.date{
  margin-top: 10px;
}

.apps_link{
  font-size: 14px;
}

.box_2{
  display: flex;
  flex-direction: column;
}
.main_article_link{
  font-size: 24px;
  
}