nav {
  display: flex;
}

nav ul {
  text-align: center;
}

nav ul li {
  display: inline-block;
}

body {
  font-family: "Lato", sans-serif;
}

.abel,
.navbar_links,
.apps_link {
  font-family: "Abel", sans-serif;
}

.main_article_link,
.main_article_side_link {
  font-family: "Open Sans", sans-serif;
}

.Merriweather {
  font-family: "Merriweather Sans", sans-serif;
}

a {
  text-decoration: none;
}

.top_navbar {
  background: #000;
  justify-content: space-between;
  padding: 8px 20px;
}

.top_navbar_links {
  color: #c6c6c6;
  font-size: 13px;
  padding: 0 5px;
}

.business-icon {
  font-size: 8px;
}

.navbar {
  display: block;
  background: #fdfdfd;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
}

.navbar_list {
  padding: 15px 20px;
}

.navbar_links {
  color: #c6c6c6;
  font-size: 14px;
  text-decoration: none;
  padding: 0 5px;
}

.search_button {
  border: none;
  border-left: rgb(198, 198, 198) solid 1px;
  background: rgba(198, 198, 198, 0.1);
  color: rgb(198, 198, 198);
  width: 48px;
}

.navbar_stripe {
  background: #ffdd33;
  font-size: 15px;
  padding: 10px 20px;
}

.header {
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  grid-template-areas: "main sidet" "main sideb";
  grid-gap: 10px;
  width: calc(100% - 10px);
  margin: 5px auto;
}

.main_article_gradient {
  background: radial-gradient(
    circle at top left,
    rgba(255, 0, 0, 0.6),
    rgba(0, 0, 0, 0.8)
  );
  display: flex;
  justify-content: stretch;
  height: 100%;
  width: 100%;
}

.main_article_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main_article_big {
  background: #fff
    url(https://img-cdn.tnwcdn.com/image?fit=1280%2C720&url=https%3A%2F%2Fcdn0.tnwcdn.com%2Fwp-content%2Fblogs.dir%2F1%2Ffiles%2F2020%2F04%2FMSI-Creator-17.jpg&signature=e198fc68168bca765e815d35f9af0a15)
    center center no-repeat;
  background-size: cover;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 47vh;
}

.date {
  color: #fff;
  padding: 5px 20px 0 0;
}

.main_article_big a,
.main_article_side a {
  color: #fff;
}

.box_1 {
  display: flex;
  justify-content: space-between;
}

.main_article_logo {
  align-self: flex-start;
}

.main_article_logo_image {
  width: 33vw;
  margin: 20px 20px;
}

.date {
  margin-top: 10px;
}

.apps_link {
  font-size: 14px;
}

.main_article_link {
  align-self: flex-end;
  font-size: 3.3rem;
  font-weight: bolder;
  margin: 5px 0;
}

.main_article_footer,
.main_article_footer a,
.main_article_footer i {
  color: rgba(255, 255, 255, 0.6);
  margin: 10px 0 1px;
  font-size: 0.9rem;
}

.box_2,
.main_article_side_wrapper {
  padding: 10px 20px;
}

.main_article_side {
  display: flex;
  justify-content: stretch;
  font-size: 1.6rem;
  color: #fff;
  background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/04/zoombombing-796x419.png)
    center no-repeat;
  background-size: cover;
}

.main_article_side_background {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main_article_side_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main_article_side_link {
  margin: 5px 0;
}
